<!DOCTYPE html>

<html>
    <head>

    </head>
        <title>404</title>
        <link rel="icon" href="/img/tineye.png">
        <link rel="stylesheet" href="/css/style.css">
    <body>
        <div class="main">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>

        {{>footer}}

    </body>
</html>